body {
    background-color:#C2FFD9;
}
img{
    width: 130px; 
    height: 130px; 
    border-radius: 100%;
    
}
hr {
    border-color:#fff;
    border-style: dotted;
    height: 2px;
    width: 50%;
    
} 
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #283149;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FC5404 ;
}
